[submodule "dist/mk"]
	path = dist/mk
	url = git@github.com:jlopez/air-mk.git
[submodule "src/lib/kontagent"]
	path = src/lib/kontagent
	url = git://github.com/kontagent/actionscript-sdk.git
[submodule "lib/ane"]
	path = lib/ane
	url = git@github.com:mindjolt/ane-helper.git
